<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>up.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>up.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>up.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBorrower</servlet-name>
        <servlet-class>up.UpdateBorrower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServletB</servlet-name>
        <servlet-class>up.UpdateServletB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBorrower</servlet-name>
        <url-pattern>/UpdateBorrower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServletB</servlet-name>
        <url-pattern>/UpdateServletB</url-pattern>
    </servlet-mapping>
</web-app>
